/* This plugin style_private.css file will be added to the public folder, but no automated import of the file will be generated */

/*
  Open registration
*/
div#register {
  background: white;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 10px;
  margin-top: 20px;
}
#register form {
  margin-right: auto;
  margin-left: auto;
  width: 310px;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
}
#register button.registerDoAdd {
  width: 100%;
}
#recaptcha {
  margin-bottom: 5px;
  margin-top: 20px;
}
div#register.about {
  background: white;
  border: 1px solid grey;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 500px;
}
form#registerAdd input {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}